@use "../../scss/variables";

.home-container {
  display: flex;
  flex-direction: column;
  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .create-invoice {
        .add-invoice {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: variables.$font-family-base;
          .add-invoice-text {
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
