@import "../scss/utils";


.ant-layout-sider {
  background-color: #fff;
}

.ant-menu {
  background: #fff;
}

.logo {
  display: flex;
  padding: 10px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  .brand-logo {
    width: 45px;
    height: 45px;
  }
}
.site-layout {
  .site-layout-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
  }
  .site-layout-background {
    padding: 10px;
    background-color: #eaeaea;
    .trigger {
      padding: 0px 24px;
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.offline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .offline-container-text {
    font-size: 10rem;
  }
}
