.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}