@import '../../../scss/utils';

.profile-container-edit {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    .image-container {
        .pencil-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 300px;
            left: 370px;
            background-color: aliceblue;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .image {
            width: 400px;
            height: 400px;
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .details {
        .names {
            display: flex;
            padding: 5px;
            align-items: center;
            font-size: 20px;
        }
    }
}