@use "../../scss/variables";

.home-container {
  font-family: variables.$font-family-base;
  display: flex;
  .cards {
    display: flex;
    flex-direction: row;
    gap: 5px;
    .header {
      font-family: variables.$font-family-base;
    }
    .card-body {
      font-family: variables.$font-family-base;
      font-size: 25px;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: variables.$primary-200;
      border-radius: 50px;
      padding: 20px;
      .card-icon {
        font-size: 30px;
        color: white;
      }
    }
  }
  .graphs {
    height: 100vh;
  }
}
