/* @import "antd/dist/antd.css"; */
@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import './scss/utils';

html,
body {
  font-family: $font-family;
}

p {
  font-family: $font-family;
}

div {
  font-family: $font-family;
}

span {
  font-family: $font-family;
}

a {
  font-family: $font-family;
  text-decoration: underline;
  color: $primary-color;
}