@import '../../scss/utils';

.transaction-container {
    display: flex;
    background: $primary-color;
    margin: 10px;
    border-radius: 10px;
    width: 900px !important;
    height: 300px;
    color: #fff;
    .user-image {
        max-width: 100%;
        min-height: 100%;
        width: 300px;
        margin: 0px;
        right: 12px;
        position: relative;
        object-fit: cover;
        display: block;
        border-radius: 5px 0px 0px 5px;
    }
    .name {
        font-size: 30px;
    }
    .display-container {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: space-between;
        .info-container {
            margin: 10px;
            .name {
                color: #fff;
                font-size: 40px;
            }
            .location {
                display: flex;
                flex-direction: row;
                align-items: center;
                .country-name {
                    font-size: 20px;
                    margin-inline-end: 5px;
                }
                .country-iso {
                    .emojiFlag {
                        border-radius: 8px;
                        font-size: 25px;
                    }
                }
            }
        }
        .transaction {
            display: flex;
            flex-direction: row;
            margin: 25px;
            font-size: 25px;
            .currency-container {
                margin-inline: 4px;
            }
            .amount-container {
                margin-inline: 4px;
            }
        }
    }
}