@import '../../../scss/utils';

.notification-single-container {
    display: flex;
    background-color: $primary-color;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    width: 50%;
    .notification-image {
        height: 200px;
    }
    .display-container {
        display: flex;
        flex-direction: row;
        color: #fff;
        justify-content: space-between;
        .info-container {
            margin: 10px;
            .name {
                color: #fff;
                font-size: 40px;
            }
        }
        .transaction {
            display: flex;
            flex-direction: row;
            margin: 30px;
            .currency-container {
                margin-inline: 4px;
            }
        }
    }
}